<h1>Adding Subscription Detail Record</h1>

<form action="/subscription" method="post">

<table>

    <tr><td> Customer ID: </td> <td> <input type="number" name="customer_id" required> </td></tr>
    <tr><td> Category ID: </td> <td> <input type="number" name="category_id" required> </td></tr>
    <tr><td> Subscribe Date: </td> <td> <input type="date" name="subscribedate" required> </td></tr>
    <tr><td> Unsubscribe Date: </td> <td> <input type="date" name="unsubscribedate" required> </td></tr>
	
</table>

<button type="submit">Save</button>

</form>