<h1> Reports </h1>

<p><a href="/report/custlist">Customer Listing </a></p>
<p><a href="/report/prodlist">Product Listing </a></p>
<p><a href="/report/salesmo">Monthly Sales</a></p>
<p><a href="/report/salesqt">Quarterly Sales</a></p>

